<!DOCTYPE html>
<html lang="
  pt-br">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <!-- Bootstrap início -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Bootstrap fim -->

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
   
    <style>
        * {
            padding: 0;
            margin: 0;
            list-style: none;
            box-sizing: border-box;
        }

        nav {
            /*font-family: montserrat;*/
            font-family: cursive;
            height: 80px;
            width: 100%;
            background: white;
            text-decoration: none;
            box-shadow: 5px 12px 10px black;
            z-index: 10;
            position: fixed;
        }

        nav a:hover {
            text-decoration: none;
        }

        label.logo {
            font-size: 35px;
            line-height: 80px;
            padding: 0 100px;
            font-weight: bold;
        }

        nav ul {
            float: right;
            margin-right: 40px;
        }

        nav ul li {
            display: inline-block;
            line-height: 80px;
            margin: 0 8px;
        }

        nav ul li a {
          font-size: 15px;
          text-transform: uppercase;
          text-decoration: none;
          color: black;
        }

        li a:hover {
          color: grey;
          background-color: #DCDCDC;
          border-radius: 8px;
          padding: 4px;
          transition: .4s
        }

        .checkbtn {
            color: black;
            font-size: 30px;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }

        #check {
            display: none;
        }

        @media(max-width: 952px) {
            label.logo {
              font-size: 30px;
              padding-left: 50px;
            }

            nav ul li {
              font-size: 16px;
              /*z-index: 99;*/
            }
        }

        @media(max-width: 858px) {
            .checkbtn {
                display: block;
            }

            ul {
                position: fixed;
                width: 50%;
                height: 100vh;
                background: white;
                top: 83px;
                left: -100%;
                text-align: center;
                transition: all .5s;
            }

            nav ul li {
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }

            nav ul li a {
                font-size: 20px;
            }
            #check:checked ~ ul {
                left: 0;
            }
        }

    </style>

</head>

<body>

  <!-- MENU -->

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

    <label class="logo">
     Logo
    </label>

    <ul>
        {{#if user}}
            <li><a href="/admin/anotacoes/home">Anotações</a></li>
            <li><a href="/admin/anotacoes/salvar">Nova</a></li>
            <li><a href="/usuarios/logout">Sair</a></li>
            {{else}}
            <li><a class="mr-3" href="/usuarios/login">Entrar</a></li>
            <li><a href="/usuarios/registro">Cadastrar-se</a></li>
        {{/if}}
    </ul>
  </nav>

  <br><br><br><br>

</body>
</html>