{{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
    
    {{else}}

{{/each}}

<br>
<div class="container">
    <center>
        <h3>CRIE A SUA CONTA, É RÁPIDO!</h3>
    </center>

        <div class="card">
            <div class="card-body">
                <form action="/usuarios/registro" method="POST">
                  <div class="form-group">
                    <label for="nome"><h5>Nome</h5></label>
                    <input name="nome" type="nome" class="form-control" id="exampleFormControlInput1"
                         maxlength="10">
                    </input>
                  </div>

                  <label for="email"><h5>Email</h5></label>
                  <input type="email" name="email" class="form-control" required><br>

                  <label for="senha"><h5>Senha</h5></label>
                  <input type="password" name="senha" class="form-control" required><br>

                  <label for="senha2"><h5>Repita sua senha</h5></label>
                  <input type="password" name="senha2" class="form-control" required><br>

                  <button class="btn btn-primary btn-sm">Criar conta
                </form>
            </div>
        </div>
    </div>