<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <!-- Bootstrap início -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Bootstrap fim -->

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <style>

        body {
            background-color: #DCDCDC;
        }

        .container {
            margin-top: -38px;
            background-color: white;
            padding: 40px;
            border: 3px solid #1E90FF;
            border-radius: 8px;
        }


        @media(max-width: 575px) {
            .container {
                border: 0px;
            }
        }

        .icones {
            float: right;
            padding-right: 10px;
        }

    </style>

</head>

<body>

<br><br>
    <div>
        <center>
            <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-edit-interface-kiranshastry-lineal-color-kiranshastry.png"/>
        </center>
    </div>
    
    <div class="container">
        <div>
            <form action="/admin/anotacoes/edit" method="POST">
                <input type="hidden" name="id" value="{{anotaçao._id}}">
              <div class="form-group">
                <label for="titulo"><h4>Título</h4></label>
                <input name="titulo" value="{{anotaçao.titulo}}" type="text" class="form-control" id="exampleFormControlInput1" maxlength="10">
                </input>
              </div>

              <label for="conteudo"><h4>Anotação</h4></label>
              <textarea name="conteudo"class="form-control" maxlength="250">{{anotaçao.conteudo}}</textarea>
              <br>

              <button class="btn btn-primary btn-sm">Salvar Edição
            </form>
    </div>

    <!-- PARTE DE JS -->
</body>